* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: rgb(210, 255, 135);
  background: linear-gradient(
    287deg,
    rgba(210, 255, 135, 1) 0%,
    rgba(0, 146, 255, 1) 100%
  );
}
