* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #feff75;
  background: linear-gradient(
    135deg,
    #feff75 0%,
    #00c6ff 100%
  );
  display: grid;
  place-content: center;
}
